@model Brand
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th scope="col">Brand Name</th>
            <th scope="col">Created time</th>
            <th scope="col">Created by</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.CreatedAt</td>
            <td>@Model.CreatedBy</td>
        </tr>
    </tbody>
</table>

